<body>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align: center;">
    <strong>Welcome!</strong> You should be careful when putting the <strong>image URL</strong>.
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formLogin"></span>

        <!-- form card login with validation feeback -->
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0"><img style="width: 25px;"
                src="https://img.icons8.com/pastel-glyph/64/000000/around-the-globe--v1.png" /> My Whislist! </h3>
          </div>
          <div class="card-body">
            <app-forms-destination-travel (onItemAdded)=" addedDestination($event)"></app-forms-destination-travel>
          </div>
        </div>
      </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
      <app-destination *ngFor="let desti of all; let i = index" [destination]="desti"
        [idx]="i" (onClicked)="chosenDestination(desti)"></app-destination>
      <!-- $event, pasemos como argumento lo que le este llegando através del eventEmitter 
        aquí, podríamos usar el destination, ya que ese es mismo que vamos a usar. -->
    </div>

    <!-- update -->

    <div class="row row-flex" id="record">
      <br>
      <ul>
        <li *ngFor="let u of updates;"><h4><em>{{u}}</em></h4></li>
      </ul>
    </div>

  </div>
</body>