<div class="card-content" [@isFavorite]="destination.isSelected()? 'stateFavorite' : 'stateNoFavorite'">
  <div class="card-img">
    <img src={{destination.url}} alt="">
    <span>
      <h4>{{destination.name}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destination.name}}</h3>
    <p>Services</p>
    <em style="color: rgb(250, 171, 171);">The most outstanding!</em>
    <ul>
      <li *ngFor="let service of destination.services">
        <!-- <span>{{service}}</span> -->
        <span [ngSwitch]="service">
          <i *ngSwitchCase="'Jacuzzi'" style="color: rgb(233, 108, 108);">{{service}}</i>
          <i *ngSwitchDefault>{{service}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()"
        appSpyOnMeClick data-trackear-click-tags="destination_vote_up destination_list_item">
        <i class="material-icons md-18">thumb_up</i></a>
      <a href="#" (click)="voteDown()"
        appSpyOnMeClick data-trackear-click-tags="destination_vote_down destination_list_item">
        <i class="material-icons md-18">thumb_down</i></a>
      {{destination.votes}}
    </div>
    <a [routerLink]="['/destination', destination.id]" 
      class="btn-card" (click)="goDestination()"
      appSpyOnMeClick data-trackear-click-tags="destination_more_detail destination_list_item">
      More details!</a>
    <!-- <span [style.display]="destination.isSelected() ? '' : 'none'"> <strong> -AGENDADO-</strong></span> -->
    <!--
      <span *ngIf="destination.isSelected()">
      <strong ngNonBindable><em>SCHEDULED</em></strong>
    </span> -->    
    <br>
  </div>
</div>
<br>